[project]
	description = ? A third-party Gank.io client, RxJava + Retrofit + RxBus + DiskLruCache + Material Design, thanks daimajia for providing the API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anderson大码渣 (Jerey-Jobs)
[access "refs/for/refs/*"]
	read = group user/Anderson大码渣 (Jerey-Jobs)
	push = group user/Anderson大码渣 (Jerey-Jobs)
	label-Code-Review = -2..+2 group user/Anderson大码渣 (Jerey-Jobs)
	label-Verified = -1..+1 group user/Anderson大码渣 (Jerey-Jobs)
	rebase = group user/Anderson大码渣 (Jerey-Jobs)
	removeReviewer = group user/Anderson大码渣 (Jerey-Jobs)
	submit = group user/Anderson大码渣 (Jerey-Jobs)
[access "refs/heads/*"]
	read = group user/Anderson大码渣 (Jerey-Jobs)
	create = group user/Anderson大码渣 (Jerey-Jobs)
	push = +force group user/Anderson大码渣 (Jerey-Jobs)
	pushMerge = group user/Anderson大码渣 (Jerey-Jobs)
[access "refs/tags/*"]
	push = group user/Anderson大码渣 (Jerey-Jobs)
	push = +force group user/Anderson大码渣 (Jerey-Jobs)
