<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jerey.keepgank">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".GankApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/study"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <!-- 协议部分，随便设置 -->
                <data
                    android:host="login"
                    android:path="/loginActivity"
                    android:port="8888"
                    android:scheme="xl"/>
                <!-- 下面这几行也必须得设置 -->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyWebActivity"
            android:launchMode="singleTop"
            android:theme="@style/WebTheme"/>
        <activity
            android:name=".activity.PhotoActivity"
            android:launchMode="singleTop"
            android:theme="@style/PhotoActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ThemeChooseActivity"
            android:theme="@style/WebTheme"/>
        <activity
            android:name=".activity.PhotoChoose.PhotoChooseActivity"
            android:theme="@style/WebTheme"/>
        <activity
            android:name=".douban.DoubanActivity"
            android:theme="@style/WebTheme"/>

        <activity
            android:name=".douban.MovieListActivity"
            android:theme="@style/WebTheme"/>

        <activity
            android:name=".douban.MovieActivity"
            android:theme="@style/WebTheme"/>
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/MyPreferenceTheme"
            />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58db11de6e27a4737b001422"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="1"/>

    </application>

</manifest>