<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jerey.keepgank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".GankApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyWebActivity"
            android:theme="@style/WebTheme" />
        <activity
            android:name=".activity.PhotoActivity"
            android:theme="@style/PhotoActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58db11de6e27a4737b001422" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="1" />

        <activity android:name=".SplashActivity"></activity>
    </application>

</manifest>